# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto eth0
iface eth0 inet dhcp
	dns-nameserver {{ ansible_eth0.ipv4.address }}
	dns-nameserver 4.2.2.2
	dns-search maas

auto eth1
iface eth1 inet static
	address {{ maas_hostonly_ip }}
	netmask 255.255.255.0

auto eth2
iface eth2 inet static
	address {{ maas_cluster_ip }}
	netmask {{ maas_cluster_mask }}


